:root{
    --primario:#8e44ad;
    --negro:rgb(86, 88, 89);
    --white:#ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
    color: var(--negro);
    background: #f1f1f1;
    background-image: url(images/humo-0.png), linear-gradient(white 30%,#e7e7e7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: 'Saira Extra Condensed',serif;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  h1{
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;
  }
  
  h1 span{
    color:var(--primario);
    background: -webkit-linear-gradient(-45deg, var(--primario) 30%, var(--negro) 100%);
    -webkit-background-clip: text !important;
    background-clip:content-box;
    -webkit-text-fill-color: transparent !important;
    background-color: var(--primario);
  }
  
  h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primario);
  }
  
  h3{
    font-size: 1.8rem;
    font-weight: 600;
    padding-top:2rem;
  }
  
  h4{
    font-size: 1.3rem;
  }
  
  ul{
    list-style-type: none;
    margin:0;
    padding: 0;
  }
  
  /* Estilos para el MENU LATERAL */
  .left-menu {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-width: 260px;
    text-align: center;
    background: var(--primario);
    height: 100vh;
  }
  
  .interior-menu{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .interior-menu h4{
    color:white;
    padding-top: 1rem;
  }
  
  .interior-menu p{
    color:white;
    padding-bottom: 1rem;
    font-size: .9rem;
  }